@model Car

@{
    ViewData["Title"] = "Car deescription";
}

<h2>@Model.CarName</h2>

<p>Complete Description: @Model.Description</p>
<p>Color: @Model.Colour</p>
<p>Engine: @Model.Engine</p>
<p>Odemeter: @Model.Odometer</p>
