@model ViewCarAdsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-bold display-4">Car Sales</h1>
    <h6 class="text-black-50">Buy and sell cars with us</h6><br /><br />


    <h6>List of available cars</h6>
    <div class="container">       
        <div class="row">
            <div class="col-1"></div>
                
            <div class="col-10 text-start">
                @if (Model != null)
                {
                    @for (int i = 0; i < Model.Advertisements.Count; i++)
                    {
                        <h5 class="text-bold car-name" OnClick="btnLogin_Click">@(i+1)) @Model.Advertisements[i].Car.CarName</h5>
                        <p class="text-black-50">@Model.Advertisements[i].Car.Odometer km</p>
                        <p class="text-black">@Model.Advertisements[i].Price $</p>
                        <button class="btn btn-secondary" onclick="location.href='@Url.Action("ShowDescription","Home", new {carname = Model.Advertisements[i].Car.CarName } )'">show more</button>
                        <br><br>
                    }
                }
            </div>

            <div class="col-1"></div>
        </div>
    </div>
</div>
